.projects{
    display: flex;
    justify-content: center;
  }

  .project-card{
    background-color: lightskyblue;
    
    
    width: 100%;
    max-width: 1000px;
    height: auto;
    
    border-radius: 20px;
    margin: 20px;
    font-size: 2vmin;
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.3);
  }

  .project-card:hover{
    scale: 1.05;
    transition: 500ms;
  }

  .card-title{
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .smartbrain{
    display: block;
    
    

  }

  .card-text {
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
 

  .card-text a {
    display: flex;
    width: 100%;
    padding: 10px;
    margin: 10px;
    
    
  }
  .links{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    
    margin: 0 30px;
    
  }
  

  .project-link{
    display: flex;
    
    font-size: 15px;
    text-decoration: none;
    font-weight: bold;
    color: black;
    justify-content: center;
    
    background-color: lightblue;
    
    border-radius: 5px;
    
    
  }

  .image{
    background-image: url(./smartbrain.png);
    aspect-ratio: 1;
    background-repeat: no-repeat;
    background-size: cover;
  }