html {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: sans-serif;
    scroll-behavior: smooth;
    
    
  }
  body {
    background-color: white;
    background-repeat: no-repeat;
    margin: 0;
    width: 100%;
    overflow-x: hidden;
    

  }

  
  
  .logo{
    margin-left: 50px;
    font-weight: bold;
    font-size: x-large;
    cursor: default;
  }
  
  .logo:hover{
    scale: 1.5;
    color: cyan;
    transition: 500ms;
  }

  ul.navigation {
    background-color: white;
    margin: 0;
    height: 100%;
    list-style: none;
    display:flex;
    position: sticky;
    top: 0;
    z-index: 2;
    
    
    
  }


  .link {
    color: black;
    font-weight: bold;
    text-decoration: none;
    align-items: center;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    
  }

  .link li a{
    color: black;
    width: 100%;
    
    
    font-weight: bold;
    text-decoration: none;

  }

  .link li:hover {
    scale: 1.4;
    transition: 300ms;
    
    
  }

  
  