html {
    height: 100%;
    margin: 0;
    font-family: sans-serif;
    scroll-behavior: smooth;
  }
  body {
    background-color: white;
    background-repeat: no-repeat;
    margin: 0;
    

  }

  
  h1, h2, p {
    
    display: flex;
    justify-content: center;
    
  }
  .logo{
    margin-left: 50px;
    font-weight: bold;
    font-size: x-large;
    cursor: default;
  }
  
  .logo:hover{
    scale: 1.5;
    color: cyan;
    transition: 500ms;
  }

  ul.navigation {
    background-color: white;
    
    margin: 0;
    height: 100%;
    list-style: none;
    display:flex;
    position: sticky;
    top: 0;
    z-index: 2;
    
    
    
  }


  .link {
    color: black;
    font-weight: bold;
    text-decoration: none;
    align-items: center;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin: 0;
    margin-right: 100px;
  }

  .link li a{
    color: black;
    padding: 20px;
    padding-left: 40px;
    font-weight: bold;
    text-decoration: none;

  }

  .link li:hover {
    scale: 1.4;
    transition: 300ms;
    
    
  }

  .about{
    max-width: 1000px;
    
  }

  .about-title{
    font-size: 35px;
    display: flex;
    justify-content: flex-start;
    margin-left: 20px;
  }

  .about-text{
    max-width: 1000px;
    display: flex;
    justify-content: center;

    
    
  }
  .about-p{
    width: 100%;
    font-size: 20px;
  }

  .languages{
    background-color: gray;
    width: 50%;
    display: block;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.3);
    
    
  }

  .languages p{
    display: flex;
    align-items: center;
    font-size: x-large;
  }

  .languages:hover{
    scale: 1.05;
    transition: 500ms;
  }

  .icons{
    margin: 5px;
    margin-top: 25px;
    font-size: 50px;
    display: inline-flex;
    align-items: center;
    

  }
  
  .icons:hover{
    scale: 1.1;
    
  }

  .react-icon {
    color: rgb(107, 195, 250);
    


  }

  .js-icon {
    color: yellow;
    
  }

  .css-icon {
    color: blue;
    
  }

  .html-icon {
    color: orangered;
    
  }

  .bootstrap-icon{
    color: blueviolet;
  }

  .back-icons{
    margin-left: 28%;
  }

  .node-icon{
    color: green;
    font-size: 70px;
    
  }

  .psql-icon{
    color: white;
    
    
  }
  .projects{
    display: flex;
    justify-content: center;
  }

  .project-card{
    background-color: lightskyblue;
    max-width: 1000px;
    aspect-ratio: 1;
    width: 50%;
    display: flex;
    justify-content: center;
    border-radius: 20px;
    margin: 20px;
    font-size: 1.5rem;
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.3);
  }

  .project-card:hover{
    scale: 1.05;
    transition: 500ms;
  }

  .card-title{
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .smartbrain{
    display: block;
    
    

  }

  .card-text a {
    display: flex;
    justify-content: center;
  }

  

  .project-link{
    display: inline-flex;
    margin: 10px;
    font-size: 15px;
    text-decoration: none;
    color: blue;
    justify-content: center;
    background-color: lightblue;
    
    border-radius: 5px;
    
    
  }

  .image{
    background-image: url(./smartbrain.png);
    background-size: 500px 500px;
  }